@model ASM2_VuHaiDuong.Models.BookGenreView
@{
    ViewData["Title"] = "Home Page";
}
<h4>List of book</h4>
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-book"></i>Create New</a>
</p>
<form asp-controller="Books" asp-action="Index">
    <form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
            <input type="submit" value="Searching" />
    </p>
    </form>
</form>
<form asp-controller="Books" asp-action="Search" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="searchString" placeholder="Search by name">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-bordered">
    <table class="table">
    <thead>
        <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Image
                </th>
                <th>
                    Actions
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var book in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Genre.Name)
            </td>
            <td>
                <img src="~/images/@Html.DisplayFor(model => book.ProfilePicture)" class="rounded-image" height="100" width="100" />
            </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
                        <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
         </tr>
                 }
</table>
