@{
    ViewData["Title"] = "ListCart";
}

<h1>List Cart</h1>
@{
    <div class="list-cart">
        <form asp-controller="Carts" asp-action="updateCart" method="post">
            <table>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.carts)
                    {
                        string txtclass = "quantity" + item.Book.Id;
                        <tr>
                            <td>@item.Book.Id</td>
                            <td>@item.Book.Name</td>
                            <td><img src="~/images/@item.Book.ProfilePicture" class="rounded-image" height="100" width="100" /></td>
                            <td>
                                <input type="number" name="quantity" class="@txtclass" value="@item.Quantity" />
                            </td>
                            <td>@item.Book.Price</td>
                            <td id="total@(item.Book.Id)">@(item.Book.Price * item.Quantity)</td>

                            <td>
                                <button type="submit" name="id" value="@item.Book.Id" class="btn btn-danger"><i class="fa-solid fa-wrench"></i>Update</button>
                            </td>
                            <td>
                                <button type="submit" asp-controller="Carts" asp-action="deleteCart" asp-route-id="@item.Book.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-controller="Carts" asp-action="ConfirmOrder" class="btn btn-primary">Confirm Order</a>
            <div class="text-center">
                <a asp-action="Index" asp-controller="Carts" class="btn btn-danger">Shopping More <i class="fa-solid fa-cart-plus"></i></a>
            </div>
        </form>
    </div>
}
